nav{
    background-color: blue;
    box-shadow: 0px 0px 0px rgb(0 0 0 / 0.2);
    padding: 1.5rem;
    color: white;
    font-family: "Roboto",sans-serif;
    text-align: center;
  }

  nav > a{
    color: blueviolet;
    margin: 0 1rem;
    text-decoration: none;
    

  }

  .container{
    background-color: rgb(240, 236, 190);
    width: 70%;
    margin: auto;
    min-height: 100vh;
    padding: 4vmax 8vmax;
   box-sizing: border-box;
    }

    .container>h1{
      text-align: center;
      margin: 30px;
      font-size: 2.5rem;
    }

    .container>form{
      display: flex;
      flex-direction: column;
    }

    .container>form>input,textarea,button{
      padding: 20px;
      border: 1px solid rgb(41, 31, 31);
      border-radius: 5px;
      font-size: 1.2rem;
      margin: 10px;

    }

    button{
      border: none;
      cursor: pointer;
      background-color: black;
      color: white;

    }

    .task{
      display: flex;
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      align-items: center;
      margin: 20px 0;

    }

    .task>span{
      color: black;
    }

    .task> div{
      width: 100%;
    }

    .task button{
      border-radius: 100%;
      background-color: crimson;
      width: 30px;
      height: 30px;
      font-size: 1.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .task button:hover{
      background-color: red;
    }
